{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item">Cadastro</li>
    <li class="breadcrumb-item active">Cliente</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST" autofocus>
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">Classificação Fiscal</label>
                                        {{ form.class_fiscal }}
                                    </div>
                                </div>
                            

                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">CNPJ/CPF</label>
                                        {{ form.numero_fiscal}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="small">Cliente</label>
                                        {{ form.clientename }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">E-mail</label>
                                        {{ form.email }}
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">Telefone</label>
                                        {{ form.telefone }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="small">Endereço</label>
                                        {{ form.endereco }}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">Bairro</label>
                                        {{ form.bairro }}
                                    </div>
                                </div>
                            
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">Cidade</label>
                                        {{ form.cidade }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-1">
                                    <div class="form-group">
                                        <label class="small">UF</label>
                                        {{ form.uf }}
                                    </div>
                                </div>
                            
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="small">CEP</label>
                                        {{ form.cep }}
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <a href="/grupo/grupocliente"><input type="button" class="btn btn-danger btn-md" value="Cancelar"></a>
                                <a href="{% url 'create_cliente' %}"><input type="submit" class="btn btn-success btn-md" value="Salvar"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endblock %}