{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/comercial/gerenciarservico">Gerenciar Serviço</a>
    </li>
    <li class="breadcrumb-item active">Registrar Serviço</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST" id="servicoFormsets" class="">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-12">
                                    <div class="pull-right">
                                        <a href="/producao/gerenciarservico"><input type="button" class="btn btn-danger btn-sm" value="Cancelar"></a>
                                        <a href="{% url 'register_servico' %}"><input type="submit" class="btn btn-success btn-sm" value="Salvar"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="small">Numero do Pedido</label>
                                        {{ form_servico.numero_pedido }}
                                    </div>
                                </div>
                                {{ form_servico.numero_servico }}
                            </div>

                            <div class="form-row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="small">Data do Serviço</label>
                                        {{ form_servico.data_servico}}
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="small">Data de Entrega</label>
                                        {{ form_servico.data_entrega}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="small">Prestador</label>
                                        {{ form_servico.prestador }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="small">Tipo de Serviço</label>
                                        {{ form_servico.tipo_servico }}
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="small">Serviço</label>
                                        {{ form_servico.servico }}
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="small">Valor Total</label>
                                        {{ form_servico.valor_total }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="small">Observação</label>
                                        {{ form_servico.observacao }}
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="small">Status do Serviço</label>
                                        {{ form_servico.status }}
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="table-responsive">
                                <table role="grid" class="table table-hover table-sm table-secundary" id="servicoFormsetTable">
                                    <thead scope="col" class="card-header small text-center">
                                        <tr>
                                            <th>Produto</th>
                                            <th>Cor</th>
                                            <th>Quantidade</th>
                                            <th>Valor Unitário</th>
                                            <th>Valor Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for f in form_itemservico.forms %}
                                        {{ f.uuid }}
                                        {{ f.numero_servico }}
                                        <tr>
                                            <td>{{ f.produto }}</td>
                                            <td>{{ f.cor }}</td>
                                            <td>{{ f.quantidade }}</td>
                                            <td>{{ f.valor_unitario }}</td>
                                            <td>{{ f.valor_total }}</td>
                                            <td>{{ f.DELETE }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {{ form_itemservico.management_form }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endblock %}