{% extends 'base.html' %} 
{% load static %} 
{% block main %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item active">Gerenciar Usuário</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <a href="/gerencial/cadastrarusuario"><button class="btn btn-primary btn-sm pull-right">Novo Usuário</button></a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 col-sm-12">
                        <form method="POST">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-xl-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Usuário</label>
                                        <input class="form-control form-control-sm textcapitalize" type="text" size="50" id="nome_usuario" name="nome_usuario">
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Email</label>
                                        <input class="form-control form-control-sm textlowercase" type="email" size="100" id="email_usuario" name="email_usuario">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">CPF</label>
                                        <input class="form-control form-control-sm cpf" type="text" maxlength="11" size="11" id="cpf_usuario" name="cpf_usuario">
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <a href="{% url 'list_usuario' %}">
                                    <button type="submit" class="btn btn-secundary btn-sm pull-right">Pesquisar</button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xl-12 col-sm-12 col-xs-12 mb-3 text-center small">
        <div class="table-responsive border rounded">
            <table role="grid" class="table table-hover table-sm table-secundary">
                <thead scope="col" class="card-header">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Usuário ativo</th>
                        <th scope="col">Perfil</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for usuario in lista_usuario %}
                <tbody>
                    <tr>
                        <th scope="row">{{ usuario.nome }}</th>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.cpf }}</td>
                        <td>{% if usuario.is_active %}Sim{% else %}Não{% endif %}</td>
                        <td>{{ usuario.perfil }}</td>

                        {% if usuario %}
                        <td><a href="{% url 'update_usuario' usuario.uuid %}"><button class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button></a>
                            <a href="{% url 'delete_usuario' usuario.uuid %}"><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></a></td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
