{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>DayLight Manager System</title>
        <link rel="shortcut icon" href="{% static '_img/favicon.png' %}">

        <!-- Bootstrap core CSS-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

        <!-- Custom Daylight CSS-->
        <link href="{% static 'css/custom_daylight.css' %}" rel="stylesheet">

        <style>
            .body-Login-back {
                background-image: url("{% static '_img/fundologin.png' %}");
            }
            html, body{
                height: 100%;
            }
        </style>
    </head>

    <body class="body-Login-back form-signin">
        <div class="container col-sm-4 w-50">
            <div class="panel panel-login mx-auto mt-5">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">DayLight Manage System</h3>
                    <p class="text-center">Sistema de gerenciamento desenvolvido para Aquarela Uniformes.</p>
                </div>
                <div class="panel-body">
                    <form method="POST" autofocus>
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" id="username" name="username" type="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                        </div>
                        
                        <div class="">
                            <a href="{% url 'login' %}"><button type="submit" class="btn btn-dark btn-block">Login</button></a>
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
