<!-- Redefinir senha modal -->
<div class="modal-header">
    <h5 class="modal-title" id="outModalLabel">Redefinir Senha</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <form method="POST" action="{% url 'change-password' %}">
        {% csrf_token %}

        <div class="form-group">
            <label class="small">Senha Atual</label>
            {{ form.old_password }}
        </div>

        <div class="form-group">
            <label class="small">Nova Senha</label>
            {{ form.new_password1 }}
        </div>

        <div class="form-group">
            <label class="small">Confirma Senha</label>
            {{ form.new_password2 }}
        </div>

        <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
            <input type="submit" class="btn btn-success" value="Alterar">
        </div>
    </form>
</div>
