{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DayLight Manager System</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- Bootstrap core CSS-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <!-- Custom Daylight CSS-->
    <link href="{% static 'css/custom_daylight.css' %}" rel="stylesheet">

    <style>
        .body-Login-back {
                background-image: url("{% static 'img/fundologin.png' %}");
            }
        </style>
</head>

<body class="body-Login-back form-signin vertical-center">
    <div class="container col-xl-4 col-sm-4 col-xs-12">
        <div class="panel panel-login mx-auto mt-5">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Redefinir Senha</h3>
            </div>
            <div class="panel-body col-xl-10 col-sm-10 col-xs-12 horizontal-center">
                <form method="POST" action="{% url 'password_change' %}">
                    {% csrf_token %}

                    <br />
                    <div class="form-group">
                        <input class="form-control" id="username" name="username" type="text" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <label class="small">Senha Atual</label>
                        {{ form.old_password }}
                    </div>

                    <div class="form-group">
                        <label class="small">Nova Senha</label>
                        {{ form.new_password1 }}
                    </div>

                    <div class="form-group">
                        <label class="small">Confirma Senha</label>
                        {{ form.new_password2 }}
                    </div>
                    
                    <div class="">
                        <button type="submit" class="btn btn-dark btn-block">Alterar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>