{% extends 'base.html' %} 
{% load static %} 
{% block main %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item">Cadastro</li>
    <li class="breadcrumb-item active">Grupo de Usuário</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h6 class="card-header">Pesquisa</h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST" autofocus>
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="small">Usuário</label>
                                        <input class="form-control small" type="text" size="50" id="nome_usuario" name="nome_usuario">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">Email</label>
                                        <input class="form-control small" type="email" size="100" id="email_usuario" name="email_usuario">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">CPF</label>
                                        <input class="form-control small" type="text" maxlength="11" size="11" id="cpf_usuario" name="cpf_usuario">
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <a href="{% url 'list_usuario' %}">
                                    <button type="submit" class="btn btn-secundary btn-md pull-right">Buscar</button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <table class="table table-hover text-center">
                <thead class="card-header">
                    <tr class="card-header">
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Status usuário</th>
                        <th scope="col">Perfil</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for usuario in lista_usuario %}
                <tbody>
                    <tr>
                        <th scope="row">{{ usuario.id }}</th>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.cpf }}</td>
                        <td>{{ usuario.status_user }}</td>
                        <td>{{ usuario.perfil }}</td>

                        {% if usuario %}
                        <td><a href="{% url 'update_usuario' usuario.id %}"><button class="btn btn-warning btn-xs"><i class="fa fa-edit"></i></button></a>
                            <a href="{% url 'delete_usuario' usuario.id %}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button></a></td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="card-body">
            <a href="/cadastro/usuario"><button type="button" class="btn btn-primary btn-md pull-right">Novo</button></a>
        </div>
    </div>
</div>
<br />
{% endblock %}
