{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item">Cadastro</li>
    <li class="breadcrumb-item active">Grupo de Material</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h6 class="card-header">Pesquisa</h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST" autofocus>
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">Código do Material</label>
                                        <input class="form-control small" type="text" size="50" id="cod_material" name="cod_material">
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">Tipo de Material</label>
                                        <input class="form-control small" type="text" size="50" id="tipo_material" name="tipo_material">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="small">Fabricante</label>
                                        <input class="form-control small" type="text" size="50" id="fabricante" name="fabricante">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="small">Descrição do Material</label>
                                        <input class="form-control small" type="text" size="100" id="desc_material" name="desc_material">
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <a href="{% url 'list_material' %}">
                                    <button type="submit" class="btn btn-secundary btn-md pull-right">Buscar</button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <table class="table table-hover text-center">
                <thead class="card-header">
                    <tr class="card-header">
                        <th scope="col">Id</th>
                        <th scope="col">Tipo de Material</th>
                        <th scope="col">Classificação</th>
                        <th scope="col">Descrição do Material</th>
                        <th scope="col">Cor</th>
                        <th scope="col">Código Material</th>
                        <th scope="col">Fabricante</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for material in lista_material %}
                <tbody>
                    <tr>
                        <th scope="row">{{ material.id }}</th>
                        <td>{{ material.tipo_mprima }}</td>
                        <td>{{ material.classificacao }}</td>
                        <td>{{ material.material }}</td>
                        <td>{{ material.cor }}</td>
                        <td>{{ material.cod_mprima }}</td>
                        <td>{{ material.nome_fabricante }}</td>

                         {% if material %}
                        <td><a href="{% url 'update_material' material.id %}"><button class="btn btn-warning btn-xs"><i class="fa fa-edit"></i></button></a>
                            <a href="{% url 'delete_material' material.id %}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button></a>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="card-body">
            <a href="/cadastro/material">
                <button type="submit" class="btn btn-primary btn-md pull-right">Novo</button>
            </a>
        </div>
    </div>
</div>
<br /> 
{% endblock %}
