{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item">Cadastro</li>
    <li class="breadcrumb-item active">Grupo de Serviço</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h6 class="card-header">Pesquisa</h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <form role="form">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="servico-list" class="small">Tipo de Serviço</label>
                                    <select id="servico-list" class="form-control">
                                        <option>--Selecione--</option>
                                        <option>Fabricação</option>
                                        <option>Reparo</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="servico-list" class="small">Serviço</label>
                                    <select id="servico-list" class="form-control">
                                        <option>--Selecione--</option>
                                        <option>Costura</option>
                                        <option>Estampa</option>
                                        <option>Bordado</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark btn-md pull-right">Buscar</button>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <table class="table table-hover text-center">
                <thead class="card-header">
                    <tr class="card-header">
                        <th scope="col">Id</th>
                        <th scope="col">Tipo de Serviço</th>
                        <th scope="col">Serviço</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Valor por Peça</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Reparo</td>
                        <td>Costura</td>
                        <td>Camisa Polo</td>
                        <td>1,50</td>
                        <td>
                            <button class="btn btn-primary btn-xs">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-danger btn-xs">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card-body">
                <br />
                <a href="/cadastro/servico">
                    <input type="button" class="btn btn-dark btn-md pull-right" value="Novo">
                </a>
                <br />
            </div>
        </div>
    </div>
</div>
<br />
{% endblock %}
