{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DayLight Manager System</title>
  <link rel="shortcut icon" href="{% static '_img/favicon.png' %}">

  <!-- Bootstrap core CSS-->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
  <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
</head>


<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    
    <a class="navbar-brand text-white">AQUARELA UNIFORMES</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <nav class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="menu">

        <!-- ITEM CADASTRO -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cadastro">
          <a class="nav-link nav-link-collapse collapsed" id="cadastro" data-toggle="collapse" href="#itemcadastro">
            <span class="nav-link-text">Cadastro</span>
          </a>
          <ul class="sidenav-second-level collapse" id="itemcadastro">
            <li><a href="/grupo/grupousuario">Grupo de Usuário</a></li>
            <li><a href="/grupo/grupocliente">Grupo de Cliente</a></li>
            <li><a href="/grupo/grupofornecedor">Grupo de Fornecedor</a></li>
            <li><a href="/grupo/grupoprestador">Grupo de Prestador</a></li>
            <li><a href="/grupo/grupomaterial">Grupo de Material</a></li>
            <li><a href="/grupo/grupoproduto">Grupo de Produto</a></li>
            <li><a href="/grupo/gruposervico">Grupo de Serviço</a></li>
          </ul>
        </li>

        <!-- ITEM COMERCIAL -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Comercial">
          <a class="nav-link nav-link-collapse collapsed" id="comercial" data-toggle="collapse" href="#itemcomercial">
            <span class="nav-link-text">Comercial</span>
          </a>
          <ul class="sidenav-second-level collapse" id="itemcomercial">
            <li><a href="#">Registrar Pedido</a></li>
            <li><a href="#">Gerenciar Pedido</a></li>
            <li><a href="#">Ordem de Compra</a></li>
            <li><a href="#">Gerenciar Compra</a></li>
          </ul>
        </li>

        <!-- ITEM PRODUÇÃO -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Produção">
          <a class="nav-link nav-link-collapse collapsed" id="producao" data-toggle="collapse" href="#itemproducao">
            <span class="nav-link-text">Produção</span>
          </a>
          <ul class="sidenav-second-level collapse" id="itemproducao">
            <li><a href="#">Ordem de Serviço</a></li>
            <li><a href="#">Gerenciar Serviço</a></li>
          </ul>
        </li>

        <!-- ITEM ESTOQUE -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Estoque">
          <a class="nav-link nav-link-collapse collapsed" id="estoque" data-toggle="collapse" href="#itemestoque">
            <span class="nav-link-text">Estoque</span>
          </a>
          <ul class="sidenav-second-level collapse" id="itemestoque">
            <li><a href="#">Registrar de Entrada</a></li>
            <li><a href="#">Registrar de Saída</a></li>
            <li><a href="#">Registrar de Devolução</a></li>
            <li><a href="#">Gerenciar Estoque</a></li>
          </ul>
        </li>

        <!-- ITEM FINANCEIRO -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Financeiro">
          <a class="nav-link nav-link-collapse collapsed" id="financeiro" data-toggle="collapse" href="#itemfinanceiro">
            <span class="nav-link-text">Financeiro</span>
          </a>
          <ul class="sidenav-second-level collapse" id="itemfinanceiro">
            <li><a href="#">Contas a Pagar</a></li>
            <li><a href="#">Contas a Receber</a></li>
          </ul>
        </li>

        <!-- ITEM PLANO DE ROTA -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Plano de Rota">
          <a class="nav-link nav-link-collapse collapsed" id="planorota" data-toggle="collapse" href="#itemplanorota">
            <span class="nav-link-text">Plano de Rota</span>
          </a>
            <ul class="sidenav-second-level collapse" id="itemplanorota">
              <li><a href="#">Registrar Distribuição</a></li>
              <li><a href="#">Gerenciar Logistica</a></li>
            </ul>
        </li>

        <!-- ITEM GERENCIAL -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Gerencial">
          <a class="nav-link nav-link-collapse collapsed" id="gerencial" data-toggle="collapse" href="#itemgerencial">
            <span class="nav-link-text">Gerencial</span>
          </a>
            <ul class="sidenav-second-level collapse" id="itemgerencial">
              <li><a href="#">Visão Geral</a></li>
              <li><a href="#">Receita Mensal</a></li>
              <li><a href="#">Despesa Mensal</a></li>
            </ul>
        </li>
      </ul>

    <!-- USER E LOGOUT-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" href="#">
            <i class="fa fa-fw fa-user"></i>Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#outModal">
              <i class="fa fa-sign-out"></i>Sair</a>
          </li>
      </ul>
    </nav>
  </header>

  <!-- CONTEÚDO -->
  
  <main class="content-wrapper">
    <div class="container-fluid">
     {% block main %}
  
      
  
  
  
  
    {% endblock %}
    </div>
  </main>

    
  <!-- RODAPÉ -->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center small">
        <small>&copy; 2018 DayLight Manager System. Todos os direitos reservados.</small>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- Logout Modal-->
  <div class="modal fade" id="outModal" tabindex="-1" role="dialog" aria-labelledby="outModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="outModalLabel">Alerta!</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Deseja sair?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="/login">Sair</a>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>
