{% extends 'base.html' %}
{% load static %}
{% block main %}
{% csrf_token %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item active">Expedição</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <a href=""><button type="submit" class="btn btn-success btn-md" id="btn_pedidoentregue">Pedido Entregue</button></a>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <table class="table table-hover text-center">
                    <tr class="card-header">
                        <th><input type="checkbox" class="checkAll" name="checkAll" onclick="checkAll()"/></th>
                        <th scope="col">Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Data de Compra</th>
                        <th scope="col">Previsão de Entrega</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>

                {% for entrega in pronto_entrega %}
                <tbody>
                    <tr class="even pointer">
                        <td class="a-center">
                            <input type="checkbox" name="check" class="flat" value="{{ entrega.uuid }}"/>
                        </td>
                        <th scope="row">{{ entrega.numero_pedido }}</th>
                        <td>{{ entrega.cliente }}</td>
                        <td>{{ entrega.data_compra|date:'d/m/Y' }}</td>
                        <td>{{ entrega.data_entrega|date:'d/m/Y' }}</td>
                        <td>Disponível para entrega</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}