<!-- Large modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="outModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="deleteitem">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outModalLabel">Confirma a exclusão?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    
                    <p>Após a confirmação, essa exclusão não poderá ser desfeita e não poderá haver registro futuros com esses dados.</p>
                
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Não</button>
                        <input class="btn btn-success btn-md" type="submit" value="Sim" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
