<!-- Logout Modal-->
<div class="modal fade" id="outModal" tabindex="-1" role="dialog" aria-labelledby="outModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="modalsair">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outModalLabel">Alerta!</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Deseja sair do sistema?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Não</button>
                <a class="btn btn-primary" href="{% url 'logout' %}">Sim</a>
            </div>
        </div>
    </div>
</div>