{% extends 'base.html' %}
{% load static %}
{% block main %}


<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/comercial/gerenciartecido">Gerenciar Tecido</a>
    </li>
    <li class="breadcrumb-item active">Cadastrar Tecido</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-12">
                                    <div class="pull-right">
                                        <a href="/comercial/gerenciartecido"><input type="button" class="btn btn-danger btn-sm" value="Cancelar"></a>
                                        <a href="{% url 'create_tecido' %}"><input type="submit" class="btn btn-success btn-sm" value="Salvar"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">Tipo de Tecido</label>
                                        {{ form.tipo_tecido }}
                                    </div>
                                </div>
                            
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="small">Fabricante</label>
                                        {{ form.nome_fabricante }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="small">Descrição do Tecido</label>
                                        {{ form.tecido }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endblock %}
