{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item">Gerenciar Material</li>
    <li class="breadcrumb-item">
        <a href="/comercial/cadastrarmaterial">Cadastrar Material</a>
    </li>
    <li class="breadcrumb-item active">Cadastrar Unidade de Medida</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST">
                            {% csrf_token %}

                            {% if messages %}
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="small">Descrição do Tecido</label>
                                        {{ form.tecido }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="small">Produto</label>
                                        {{ form.produto }}
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="small">Qtd. por unidade</label>
                                        {{ form.qtd_unidade }}
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <a href="{% url 'create_medida' %}"><input type="submit" class="btn btn-success btn-md" value="Adicionar"></a>
                            </div>
                        </form>

                            <br />
                            <br />

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <table class="table table-hover text-center">
                                        <thead class="card-header">
                                            <tr class="card-header">
                                                <th scope="col">Produto</th>
                                                <th scope="col">Descrição do Tecido</th>
                                                <th scope="col">Qtd. por unidade</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        {% for medida in lista_medida %}
                                        <tbody>
                                            <tr>
                                                <th scope="row">{{ medida.produto }}</th>
                                                <td>{{ medida.tecido }}</td>
                                                <td>{{ medida.qtd_unidade }}</td>

                                                {% if medida %}
                                                <td><a href="{% url 'update_medida' medida.uuid %}"><button class="btn btn-warning btn-xs"><i class="fa fa-edit"></i></button></a>
                                                    <a href="{% url 'delete_medida' medida.uuid %}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button></a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="pull-right">
                            <a href="/comercial/cadastrarmaterial"><input type="button" class="btn btn-dark btn-md" value="Voltar"></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endblock %}
