{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item active">Gerenciar Pedido</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <a href="/comercial/registrarpedido"><button class="btn btn-primary btn-sm pull-right">Novo Pedido</button></a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 col-sm-12">
                        <form method="POST">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-xl-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Numero do Pedido</label>
                                        <input class="form-control form-control-sm" type="number" size="50" id="numpedido" name="numpedido">
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Data do Pedido</label>
                                        <input class="form-control form-control-sm" type="date" id="dtpedido" name="dtpedido">
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Data de Entrega</label>
                                        <input class="form-control form-control-sm" type="date" id="dtentrega" name="dtentrega">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-xl-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Cliente</label>
                                        <input class="form-control form-control-sm textcapitalize" type="text" size="100" id="cliente" name="cliente">
                                    </div>
                                </div>

                                <div class="col-xl-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Status</label>
                                        <select class="form-control form-control-sm custom-select" id="status_pedido" name="status_pedido">
                                            <option selected>--Selecione--</option>
                                            <option value="Orçamento">Orçamento</option>
                                            <option value="Em andamento">Em andamento</option>
                                            <option value="Finalizado">Finalizado</option>
                                            <option value="Cancelado">Cancelado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <a href="{% url 'list_pedido' %}">
                                    <button type="submit" class="btn btn-secundary btn-sm pull-right">Pesquisar</button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xl-12 col-sm-12 col-xs-12 mb-3 text-center small">
        <div class="table-responsive border rounded">
            <table role="grid" class="table table-hover table-sm table-secundary">
                <thead scope="col" class="card-header">
                    <tr>
                        <th scope="col">Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Data de Compra</th>
                        <th scope="col">Data de Entrega</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for pedido in lista_pedido %}
                <tbody>
                    <tr>
                        <th scope="row">{{ pedido.numero_pedido }}</th>
                        <td>{{ pedido.cliente }}</td>
                        <td>{{ pedido.data_pedido|date:'d/m/Y' }}</td>
                        <td>{{ pedido.data_entrega|date:'d/m/Y' }}</td>
                        <td>{{ pedido.status }}</td>

                        {% if pedido %}
                        <td>
                            <a href="{% url 'update_pedido' pedido.uuid %}">
                                <button class="btn btn-warning btn-sm">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<br />
{% endblock %}