{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- CABEÇALHO PAGINA -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/comercial/gerenciarcompra">Gerenciar Compra</a>
    </li>
    <li class="breadcrumb-item active">Registrar Compra</li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST" id="compraFormsets">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-xl-12 col-sm-12 col-xs-12 mb-3">
                                    <div class="pull-right">
                                        <a href="/comercial/gerenciarcompra"><input type="button" class="btn btn-danger btn-sm" value="Cancelar"></a>
                                        <a href="{% url 'register_compra' %}"><input onclick="window.print()" type="submit" class="btn btn-success btn-sm" value="Salvar"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Data de Compra</label>
                                        {{ form_compra.data_compra}}
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Numero do Pedido</label>
                                        {{ form_compra.numero_pedido }}
                                    </div>
                                </div>
                                {{ form_compra.numero_compra }}
                            </div>

                            <div class="form-row">
                                <div class="col-xl-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Fornecedor</label>
                                        {{ form_compra.fornecedor }}
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Nome do Responsável</label>
                                        {{ form_compra.responsavel }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Forma de Pagamento</label>
                                        {{ form_compra.forma_pagamento }}
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Prazo de Pagamento</label>
                                        {{ form_compra.prazo_pagamento }}
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Valor Total</label>
                                        {{ form_compra.valor_total }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-xl-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Observação</label>
                                        {{ form_compra.observacao }}
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label class="small">Status da Compra</label>
                                        {{ form_compra.status }}
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-xl-12 col-sm-12 col-xs-12 mb-3 text-center small">
                                    <div class="table-responsive border rounded">
                                        <table role="grid" class="table table-hover table-sm table-secundary">
                                            <thead scope="col" class="card-header">
                                                <tr>
                                                    <th>Tecido</th>
                                                    <th>Material</th>
                                                    <th>Cor</th>
                                                    <th>Quantidade</th>
                                                    <th>Valor Unitário</th>
                                                    <th>Valor Total</th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            {{ form_itemcompra.management_form }}
                                                {% for f in form_itemcompra.forms %}
                                                {{ f.uuid }}
                                                {{ f.numero_compra }}
                                                <tr class="inline {{ form_itemcompra.prefix }}">
                                                    <td>{{ f.tecido }}</td>
                                                    <td>{{ f.material }}</td>
                                                    <td>{{ f.cor }}</td>
                                                    <td onchange='calcTotalCompra()'>{{ f.quantidade }}</td>
                                                    <td onchange='calcTotalCompra()'>{{ f.valor_unitario }}</td>
                                                    <td>{{ f.valor_total }}</td>
                                                    <td>{{ f.DELETE }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endblock %}
